<div ng-controller="mcs-stellard.BalanceWidgetController as widget">
  <ul>
    <li class="mcs-stellard-balance-balanceEntry" ng-repeat="balance in widget.balances">
      <span class="mcs-stellard-balance-balanceEntry__amount">{{balance.balance}}</span>
      <span class="mcs-stellard-balance-balanceEntry__currency">
        <span class="mcs-stellard-balance-balanceEntry__currency__code">
          <span ng-if="balance.currency_type === 'native'">XLM</span>
          <span ng-if="balance.currency_type !== 'native'">{{balance.currency_code}}</span>
          <!--(<span class="mcs-stellard-balance-balanceEntry__currency__issuer">stellar network</span>)-->
        </span>
      </span>
    </li>
  </ul>
</div>
