<div ng-controller="mcs-stellard.HistoryWidgetController as widget">
  <div class="mcs-stellard-history-historyEntry" ng-repeat="transaction in widget.transactions">
    <span class="mcs-stellard-history-historyEntry__location">stroopy@stellar.org</span>
    <span class="mcs-stellard-history-historyEntry__amount">- 50 STR</span>
    <span class="mcs-stellard-history-historyEntry__time">Sent on 5/3/2015</span>
    <span class="mcs-stellard-history-historyEntry__issuer">stellar network</span>
  </div>
</div>
