<div ng-controller="mcs-stellard.ReceiveWidgetController as widget">
  <div class="mcs-stellard-receive-receiveContainer">
    <p class="mcs-stellard-receive-receiveContainer__item mcs-stellard-receive-receiveInfo">
      <span class="mcs-stellard-receive-receiveInfo__label">Your username</span>
      <span class="mcs-stellard-receive-receiveInfo__data">{{widget.username}}</span>
    </p>
    <p class="mcs-stellard-receive-receiveContainer__item mcs-stellard-receive-receiveInfo">
      <span class="mcs-stellard-receive-receiveInfo__label">Your address</span>
      <span class="mcs-stellard-receive-receiveInfo__data">{{widget.address}}</span>
    </p>
  </div>
</div>
