<div ng-controller="mcs-stellard.SendWidgetController as widget">
  <form class="mcs-stellard-send-sendForm">
    <div class="k-inputGroup">
      <input class="k-inputGroup__item mcs-stellard-send-sendForm__sendTo" ng-model="widget.destinationAddress" placeholder="Send to" type="text">
    </div>
    <div class="k-inputGroup">
      <input class="k-inputGroup__item mcs-stellard-send-sendForm__amount" ng-model="widget.amount" placeholder="Amount" type="text">
      <select class="k-inputGroup__item K-flexItem-none mcs-stellard-send-sendForm__currency">
        <option value="XLM">XLM</option>
        <option value="USD">USD (bank.iris.li)</option>
        <option value="EUR">EUR (rabelais.risa)</option>
      </select>
    </div>
    <div class="k-inputGroup">
      <button class="k-button k-inputGroup__item--full" ng-click="widget.send()">Send</button>
    </div>
  </form>
</div>
