.mcs-stellard-balance-balanceEntry {
  @include K-flex-row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1em;
}
.mcs-stellard-balance-balanceEntry__amount {
  flex: 12 0 100%;
  text-align: center;
  font-size: $k-scale-c;
  line-height: 1;
}
.mcs-stellard-balance-balanceEntry__currency {
  font-size: $k-scale-down1;
  color: $k-color-F;
}
