
.mcs-stellard-receive-receiveContainer {
  @include K-flex-row;
}
.mcs-stellard-receive-receiveContainer__item {
  flex: 12;
}

.mcs-stellard-receive-receiveInfo {
  padding: $k-spacing-widgetPadding;
  margin-bottom: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
.mcs-stellard-receive-receiveInfo__label {
  display: block;
  font-size: $k-scale-down1;
  line-height: 1;
}

.mcs-stellard-receive-receiveInfo__info {
  border-bottom: 1px dotted $k-color-F;
}
